*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
/*start hrader*/
header{
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: white;
}
header .navbar{
    display: flex;
    width: 95%;
    margin:auto;
    justify-content: space-between;
    align-items: center;
}
header .navbar #bars,label{
    display: none;
}
header .navbar ul{
    display: flex;
}
header .navbar ul li{
    margin: 10px;
    list-style: none;
    color: rgb(4, 80, 4);
    position: relative;
}
header .navbar ul li a{
    text-decoration: none;
    color: rgb(4, 80, 4);
}
header .navbar ul li::after{
    content: "";
    background-color: rgb(86, 206, 86);
    top: 20px;
    left: 0px;
    width: 0;
    height: 5px;
    position: absolute;
}
header .navbar ul li:hover::after{
    transition: 0.5s;
    width: 100%;
}
header .navbar ul li:hover{
    color: rgb(86, 206, 86);
    transition: 0.5s;
    cursor: pointer;
}
@media (max-width: 991px){
    header .navbar label{
        display: block;
    }
    header .navbar #bars:checked~nav{
        display: block;
        text-align: center;
    }
    header .navbar nav{
        display: none;
        width: 100%;
    }
    header .navbar ul{
        flex-direction: column;
    }
}
/*start home page*/
section .home{
    background-image:url(360_F_255797693_y8QM0nvJDFD9PPC7Rj9XCRIP0OjkV8CK.jpg) ;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section  #start{
    line-height: 30px;
    text-align: center;
    padding: 250px 190px;
}
button{
    border: 4px solid rgb(13, 133, 13);
    background-color: rgb(13, 133, 13);
    color: white;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
}
button:hover{
    color:rgb(159, 218, 159) ;
    background-color: rgba(10, 66, 10, 0.799);
    border: rgba(10, 66, 10, 0.633) ;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
b{
    color: rgb(19, 121, 19);
    font-size: large;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

@media(max-width:991px){
    section #star{
        padding: 180px 120px;
    }
}
/*end home page*/

/*start services*/
 h1{
    display: flex;
    color: rgb(13, 133, 13);
    text-align: center;
    margin-left: 45%;
    margin-top: 60px;
    margin-bottom: 40px;
}
section .services{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    text-align: center;
    width: 85%;
    margin: auto;
    position: relative;
    margin-bottom: 120px;
    margin-top: 40px;
}
section .services .box{
    position: relative;
}
section .services .box img{
    width: 100%;
    height: 450px;
    border-radius: 10px;
}
section .services .box .service{
    display: none;
    position: absolute;
}
section .services .box:hover .service{
    display: block;
    cursor: pointer;
}
section .services .box:hover img{
    transform: rotatex(10deg);
    border-radius: 18px;
    cursor: pointer;

}
@media(max-width:991px){
    section .services{
        flex-direction: column;
        align-items: center;
    }
}

/*end services*/

/*start about us*/

p{
    font-size:larger;
}
section.about{
    background-image: url(bath-products-towel-with-cotton-pads-leaf-copy-space.jpg);
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section.about .us{
    padding-top: 50px;
    margin-left: 115px;
}
/*end about*/

/*start footer*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    margin: auto;
}
footer .socialm ul li{
    list-style: none;
}
footer .socialm ul li:first-child{
    color: blue;
}
footer .socialm ul li:nth-child(2){
    color: rgb(240, 0, 168);
}
footer .socialm ul li:last-child{
    color: green;
}
footer .socialm span:last-child{
    color: rgb(208, 78, 78);
}
@media(max-width:765px){
    footer .sociakm{
    flex-wrap: wrap;
    }
}
/*end footer*/



